/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
  font-family: 'apercu';
  src: url('fonts/Apercu-webfont.eot?') format('eot'), url('fonts/Apercu-webfont.woff') format('woff'), url('fonts/Apercu-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'apercu light';
  src: url('fonts/Apercu-light-webfont.eot?') format('eot'), url('fonts/Apercu-light-webfont.woff') format('woff'), url('fonts/Apercu-light-webfont.ttf') format('truetype');
}
body {
    font-family: 'apercu';
}
#menu-bg {
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.9);
    z-index: 999;
}
#main-nav {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    padding: 40px 60px;
    z-index: 1000;
}
#logo {
    position: relative;
    float: left;
    top: 0;
    width: 35px;
}
#logo svg path {
    stroke-width: 2;
}
#menu-column {
    position: relative;
    float: left;
    top: 0;
    left: 30%;
    margin-left: -60px;
}
#menu-column h5 {
    margin: 0 0 0 40px;
    color: #999;
    font-size: 15px;
    font-weight: 400;
    line-height: 35px;
    transition: all 0.2s;
}
#menu-static-wrap {
    cursor: pointer;
}
#menu-static-wrap:hover h5,
#menu-static-wrap.active h5 {
    color: #000;
}
.arrow {
    position: absolute;
    top: 6px;
    left: 0px;
    width: 20px;
    height: 20px;
}
.arrow-line {
    position: absolute;
    top: 50%;
    width: 10px;
    height: 3px;
    background-color: black;
    transform: rotate(45deg);
}
.arrow-line:before {
    content: '';
    position: absolute;
    left: 100%;
    width: 10px;
    height: 3px;
    background-color: black;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
}
#client-list {
    display: none;
    margin-top: 40px;
}
.client-list-item {
    position: relative;
    font-family: 'apercu light';
    font-size: 40px;
    color: #999;
    line-height: 50px;
    margin-bottom: 20px;
    cursor: pointer;
    opacity: 0;
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.client-list-item.animIn {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
}
.client-list-item:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height:2px;
    width: 0px;
    background-color: #000;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.client-list-item:hover {
    color: #000;
}
.client-list-item:hover:before {
    width: 100%;
}
#image-wrap {
    position: absolute;
    top: 160px;
    left: 30%;
    right: 60px;
    bottom: 60px;
    box-sizing: border-box;
    z-index: 10;
    overflow: hidden;
    cursor: ew-resize;
}
.project-item {
    float: left;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    -webkit-transition: transform 0.25s .1s, opacity 0.3s;
    transition: transform 0.25s .1s, opacity 0.3s;
}
.project-item.appeared {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
}
#client-title {
    position: absolute;
    left: 60px;
    bottom: 60px;
    height: 40%;
    width: 20%;
}
#client-title h1 {
    margin-top: 20px;
    font-family: 'apercu light';
    font-size: 60px;
    text-align: left;
    line-height: 65px;
}
#client-title h4 {
    margin: 0;
    font-family: 'apercu'!important;
    font-size: 20px;
    text-align: left;
}
#image-inner-wrap {
    position: absolute;
    height: 100%;
    -webkit-transition: all 0.4s cubic-bezier(.71,.03,.52,.98);
    -moz-transition: all 0.4s cubic-bezier(.71,.03,.52,.98);
    -o-transition: all 0.4s cubic-bezier(.71,.03,.52,.98);
    -ms-transition: all 0.4s cubic-bezier(.71,.03,.52,.98);
    transition: all 0.4s cubic-bezier(.71,.03,.52,.98);
}
#project-nav {
    position: relative;
    height: 10px;
}
#project-nav ul {
    padding: 0;
    list-style: none;
}
.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 3px solid #cdcdcd;
    cursor: pointer;
}
.dot.active {
    border: 3px solid #000000;
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}